html {
	padding: 0;
	 margin: 0;
	
}
body {
	background:white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
header {
	padding-top:18px;
	min-height:209px;
}


  .header-logo {
	width: 170px;
	height: 60px;
	background-image:url(../img/Logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right:auto;
	margin-left:-10px;
	
}
  input {
	display: block;
	margin-left:auto;
	border-radius: 2px;
	border-width: 1px;
	border-color:  rgba(0, 0, 0, 0.14);
	border-style: solid;
	background-color:  #ffffff;
	width: 228px;
	height: 23px;
}
   input[placeholder] {
	color:  #000000;
	font-size: 10px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
   .basket {
	
}
   .categories {
	   padding-top:37px;
}
   .categories ul.left-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	   flex-wrap: wrap;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	padding-left:0;
	   margin-left:-10px;
}
	 ul.left-list li {
		 
}
.col-xs-3 {}

	li {
	display: inline-block;
	
}
.col-sm-6 {
	
}
main .offer-central {
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
	border-radius:2px;
}

 .offer-text {
	 padding-top:80px;
	 padding-left:35px;
	 margin-left:auto;
	 min-height:420px;
}
   .offer-text h1{
	   position: relative;
	 font-size: 23px;
	 font-weight: 500;
	 line-height: 36px;
	 font-weight: 600;
	 
}
   .offer-text .underline {
	margin: auto;
	background:black;
	width: 68px;
	height: 4px;
}
   .offer-text p {
	 font-size: 12px;
   line-height: 24px;
	text-align: center;
	 max-width: 440px;
	   font-weight:600 ;
	    margin:25px auto 0;
}
   .offer-text .Btn {
	width: 190px;
	height: 35px;
	
	color:rgba(255, 255, 255, 0.95);
	font-size: 12px;
	font-weight: 500;
	margin:26px auto 0;
	line-height: 35px;
}
 .offer-img {
	 background:url(../img/offer-image.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	 max-width: 623px;
	 height: 420px;
	 margin: auto;
}



/*   ________block of the 'latest' goods_______     */
.latest {
	margin:150px 0 100px;
}

.latest-box {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
	max-width: 270px;
	min-height: 474px;
	overflow: hidden;
}


.latest .latest-img .label {
	position: absolute;
	width: 53px;
	height: 24px;
	top:20px;
	left:15px;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
	line-height: 20px;
	font-size: 12px;
	font-weight: 300;
	background-color:yellow;
	color:black;
	
	
	
}
.latest .scroll-down  {
	margin:65px auto 0;
	display: block;
	background:url(../img/Scroll-down.png) no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	width: 40px;
	height: 36px;
}
.latest .scroll-down span {
	display: block;
	padding-top:35px;
	margin-left:-5px;
	font-size:12px;
	line-height: 34px;
	font-weight: 500;
	letter-spacing: -0.2px;
	color:#8e8a8a;

	
	
	
}

.brand-container {
	
}
.brand-container .brand-box {
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
	max-width: 270px;
	height: 177px;
	margin-bottom:50px;;
}
.brand-container .brand-box img {
	max-width:150px;
	display: block;
	margin: auto;
}
/* кросс-классы */
.Btn {
	background-color:  #5cd7ea;
}
.text-center {
	text-align: center;
}

/* костыли */
main .container .offer-central {
	
}

@media (max-width:768px) {
	.header-logo {
	width: 150px;
	height: 60px;
	background-image:url(../img/Logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-right:auto;
	margin-left:-10px;
	
}
	input {
		margin-top:3px;
		width: 128px;
	}	
}
