html {
	padding: 0;
	 margin: 0;
	
}
body {
	background:white;
	font-family: 'Open Sans', sans-serif;
	
}
header {
	padding-top:18px;
	min-height:209px;
}


  .header-logo {
	width: 170px;
	height: 60px;
	background-image:url(../img/Logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right:auto;
	margin-left:-10px;
	
}
  input {
	background-image: url();
	display: block;
	margin-left:auto;
	border-radius: 2px;
	border-width: 1px;
	border-color:  rgba(0, 0, 0, 0.14);
	border-style: solid;
	background-color:  #ffffff;
	width: 228px;
	height: 23px;
}
   input[placeholder] {
	color:  #000000;
	font-size: 10px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
   .basket {
	
}
   .sign-in {}
   .categories {
	   padding-top:37px;
}
   .categories ul.left-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	   flex-wrap: wrap;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	padding-left:0;
	   margin-left:-10px;
}
	 ul.left-list li {
		min-width:80px; 
}
   .categories ul.right-list {
	
}
   header .Btn {
	max-width:170px;
	height: 23px;
	border-radius:2px;
	margin-left:auto;
	font-weight: 600;
	line-height: 23px;
	color:  #fefefe;
	font-size:12px;
}
.col-xs-3 {}

	li {
	display: inline-block;
	
}
.col-sm-6 {
	
}
main .offer-central {
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
	border-radius:2px;
}

 .offer-text {
	 padding-top:80px;
	 padding-left:35px;
	 margin-left:auto;
	 min-height:420px;
}
   .offer-text h1{
	   position: relative;
	 font-size: 23px;
	 font-weight: 500;
	 line-height: 36px;
	 font-weight: 600;
	 
}
   .offer-text .underline {
	margin: auto;
	background:black;
	width: 68px;
	height: 4px;
}
   .offer-text p {
	 font-size: 12px;
   line-height: 24px;
	text-align: center;
	 max-width: 440px;
	   font-weight:600 ;
	    margin:25px auto 0;
}
   .offer-text .Btn {
	width: 190px;
	height: 35px;
	
	color:rgba(255, 255, 255, 0.95);
	font-size: 12px;
	font-weight: 500;
	margin:26px auto 0;
	line-height: 35px;
}
 .offer-img {
	 background:url(../img/offer-image.jpg) center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 max-width: 623px;
	 height: 420px;
	 margin: auto;
}



/*   ________block of the 'latest' goods_______     */
.latest {
	margin:150px 0 100px;
}

.latest-box {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
	max-width: 270px;
	min-height: 474px;
	overflow: hidden;
}


 .latest-img .label {
	position: absolute;
	width: 53px;
	height: 24px;
	top:20px;
	left:15px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
	line-height: 20px;
	font-size: 12px;
	font-weight: 300;
	background-color:#f0f265;
	color:rgba(0, 0, 0, 0.6);
}
.latest-text_top {
	margin-top:17px;
	padding-left:15px;
	font-size: 14px;
	font-weight: 600;
}
.latest-text_bottom {
	border-bottom:1px solid rgba(128, 128, 128, 0.38);
	
	padding:15px 15px;
	font-size: 16px;
	font-weight: 300;
	color:rgba(0, 0, 0, 0.63);
}
.latest-text_bottom span {
	font-size:12px;
	vertical-align: text-top;
}

 .latest-icons {
	height:35px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:80%;
	padding-top:9px;
	 margin:auto;
	
}
.latest-icons em.fa-heart-o {
	font-size:16px;
}
.latest-icons span {
	
	font-size:16px;
}
.latest .scroll-down  {
	margin:65px auto 0;
	display: block;
	background:url(../img/Scroll-down.png) no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	width: 40px;
	height: 36px;
}
.latest .scroll-down span {
	display: block;
	padding-top:35px;
	margin-left:-5px;
	font-size:12px;
	line-height: 34px;
	font-weight: 500;
	letter-spacing: -0.2px;
	color:#8e8a8a;

	
	
	
}

.brand-container {
	
}
.brand-container .brand-box {
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
	max-width: 270px;
	height: 177px;
	margin-bottom:50px;
}
.brand-container .brand-img {
	height:142px;
	overflow: hidden;
	border-bottom:1px solid rgba(128, 128, 128, 0.38);
}
.brand-container .brand-box img {
	max-width:150px;
	display: block;
	margin:20px auto;
	
}
.brand-container .brand-box span {
	margin: auto;
	display: block;
	width:15px;
	font-size:16px;
	padding-top:8px;
}
.brand-container .Btn {
	border-radius: 2px;
	line-height:35px;
	max-width: 190px;
	height: 35px;
	font-size: 12px;
}
.about-container {
	margin:80px 0 ;
}
.about-box {
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
	max-width: 1169px;
	
}
.about-box .about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	min-height: 389px;
	text-align: center;
	
}
.about-img {
	background:url(../img/About-Img.jpg) no-repeat center;
	-webkit-background-size:cover;
	background-size:cover;
	max-width:585px;
	height: 389px;
	
}
footer {
	display: block;
	min-height:284px;
	background-color:#2a2a2a;
	color:#fefefe;
	padding-top:87px;
}
  .footer-logo {
	background:url(../img/Footer-Logo.png) no-repeat center;
	background-size: contain;
	 width: 170px;
	height: 60px;
}
  .footer-list {
	  font-size: 14px;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  padding-left:0px;
	  font-weight: 600;
	  text-align: center;
}
  .number-box {
	  text-align: right;
}
   .number-box span {
	  display: inline-block;
}

.Social {
	text-align: right;
}
/* кросс-классы */
.Btn {
	background-color:  #5cd7ea;
	color:#fefefe;
	text-align: center;
}
.text-center {
	text-align: center;
}
.phone-img {
	background:url(../img/phone.png) no-repeat center;
	background-size: contain;
}
h2 {
	font-weight: 700;
	font-size: 32px;
	margin-bottom:40px;
}
h3 {
	font-weight: 700;
	font-size: 32px;
	margin-bottom:40px;
}
.about-us {
	font-weight: 700;
	font-size: 32px;
	margin-bottom:40px;
}
/* костыли */
main .container .offer-central {
	
}

@media (max-width:768px) {
	.header-logo {
	width: 150px;
	height: 60px;
	background-image:url(../img/Logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-right:auto;
	margin-left:-10px;
	
}
	input {
		margin-top:3px;
		width: 128px;
	}	
}
